body {
    background: black;
    color: white;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
        border-bottom: solid 2px white;
        padding: 20px;
        font-size: 32px;
}

section {
    background: rgb(19, 18, 18);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.texto {
    margin-right: 4%;
}
h1{
    font-size: 35px;
}

p{
    font-size: 15px;
}

img{
    height: 250px;
}

.cat img {
    opacity: 0.5;
}

.cat img:hover {
    opacity: 1.0;
    border: 1px solid white;
}
